Logs/nginx
MySQL
uploads
wp-content/ai1wm-backups
wp-content/languages
wp-content/plugins/classic-editor
wp-content/plugins/user-role-editor
wp-content/plugins/custom-permalinks
wp-content/plugins/custom-category-widget
wp-content/plugins/imsanity
wp-content/plugins/pages-by-user-role
wp-content/plugins/buddypress-cover-photo
wp-content/plugins/threewp-broadcast
wp-content/plugins/advanced-custom-fields-pro
wp-content/plugins/wordpress-importer
wp-content/plugins/wp-optimize
wp-content/plugins/shortcode-ui
wp-content/plugins/searchwp-live-ajax-search
wp-content/plugins/buddypress-members-only
wp-content/plugins/php-text-widget
wp-content/plugins/multisite-widgets-context
wp-content/plugins/custom-post-type-ui
wp-content/plugins/loginpress
wp-content/plugins/restricted-site-access
wp-content/plugins/stops-core-theme-and-plugin-updates
wp-content/plugins/webnus-core
wp-content/plugins/email-address-encoder
wp-content/plugins/wp-pagenavi
wp-content/plugins/redis-cache
wp-content/plugins/add-descendants-as-submenu-items
wp-content/plugins/simple-image-widget
wp-content/plugins/duplicator
wp-content/plugins/all-in-one-wp-migration
wp-content/plugins/custom-post-widget
wp-content/plugins/if-menu
wp-content/plugins/popup-anything-on-click
wp-content/plugins/buddypress
wp-content/plugins/js_composer
wp-content/plugins/tinymce-advanced
wp-content/plugins/searchwp
wp-content/plugins/my-plugin
wp-content/plugins/google-analytics-for-wordpress
wp-content/plugins/ldap-login-for-intranet-sites
wp-content/plugins/quick-pagepost-redirect-plugin
wp-content/plugins/index.php
